.cart-item{
  display:block;
  float:right;
  margin-right:150px;
  margin-bottom:100px;
}

.cart-img{
  width:100px;
  height:100px;
  position:absolute;
}

.container{
  position:absolute;
  margin-left:40%;
  margin-right:50%;
  border:2px solid black;
}

.watch-img{
  width: 200px;
  height: 250px;
  
}

.text-wrapper{
  margin: 10px;
}

.cart-btn{
  margin:10px;
  background-color:skyblue;
  padding: 5px
}